@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  letter-spacing: 5px;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 1rem 30%;
}

.image-container img {
  width: 100%;
  margin-top: 0.5rem;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .image-container {
    margin: 1rem;
  }
}
